@import 'roboto-fonts';
@import 'material-icons';

$mdc-theme-primary: orange;
$mdc-theme-secondary: black;
$mdc-theme-background: #fff;

@import 'ember-cli-material-components';

body {
  padding: 0;
  margin: 0;
}

.mdc-toolbar {
  // background-color: #000;
}

.mdc-toolbar__title {
  background: no-repeat 0/32px url(images/mdc-logo.svg);
  font-family: Roboto Mono;
  font-weight: 400;
  height: 24px;
  padding: 2px 0 5px 50px;
  text-transform: uppercase;
  white-space: nowrap;
}

.mdc-button {
  i {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 4px;
  }
}