<h1 class="mdc-typography--display4">Display4</h1>
<h1 class="mdc-typography--display3">Display3</h1>
<h1 class="mdc-typography--display2">Display2</h1>
<h1 class="mdc-typography--display1">Display1</h1>

<i class="material-icons">help_outline</i>

<button class="mdc-button">
  <i class="material-icons mdc-button__icon">favorite</i>
  Button
</button>